---
import type { Playlist } from "@/lib/data";
import { formatArtists } from "@/lib/utils/formatArtists";
import TrimmedText from "./TrimmedText.astro";

interface Props {
  playlist: Playlist;
}

const { playlist } = Astro.props;
const { id, cover, title, artists } = playlist;
const artistsString = formatArtists(artists);
---

<a
  href={`/playlist/${id}`}
  class="playlist-item relative flex items-center gap-4 overflow-hidden rounded-md p-2 hover:bg-zinc-800"
>
  <picture class="h-12 w-12 flex-none">
    <img
      class="h-full w-full rounded-md object-cover"
      src={cover}
      alt={`Cover of ${title} by ${artistsString}`}
    />
  </picture>
  <div class="flex flex-auto flex-col truncate">
    <h4 class="text-sm text-white">
      {title}
    </h4>
    <span class="text-sm text-gray-400">
      <TrimmedText text={artistsString} />
    </span>
  </div>
</a>
